@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgound-color: #dddcd2;
  --foreground-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-color));
  background: rgb(var(--backgound-color));
  overflow: hidden;
}
